table.pingtable {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

table.pingtable thead {
 font-weight: bold;
}

table.pingtable tr {

}

table.pingtable td {
  border: 1px solid lightgrey;
}
